body {
    background-color:#232323;
    font-family:'Roboto Mono', monospace;
}

@keyframes changecolor {
    0%   {color:white;}
    25%  {color:#FFE194;}
    50%  {color:#FFE194 ;}
    100% {color:#FFE194;}
}




.apage{
    display: flex;
    color:white;
    text-align: center;
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 20%;

}

.apage p {
    font-size:20px;
    padding-top: 10%;
    margin-left:5%;
}

.apage img {
    width: 300px;
    height: 300px;
    border-radius:50% ;
    pointer-events: none
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    color: white;


}

.icons i{
    width: 100px;
    height: 100px;
    margin-left: 5%;
}

.icons a {
    color: white;
    padding-left:1em;
    padding-right:1em;
}

.icons a:hover{
    color: #FFE194;
    animation: changecolor 3s;
}

.projects{
    text-align: center;
    margin-top: 4%;

}


.projects a{
    color: white;
    font-size:25px;
    text-decoration: none;
}

.p2 p{
    padding-top:10%;
}

.p2 h1 {
    font-size:25px;
}

.projects a:hover{
    animation: changecolor 1s;
}

.p1 {
    color: white;
    text-align: center;
    width: 300px;
}

.p1 h1{
    font-size:25px;
}

.p1 a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-decoration: underline;
}

.p1 a:hover{
    animation: changecolor 1s;

}

.p2{
   text-align: center;
   width: 300px;
   margin-top: 0%;
   color: white;
}

.p2 a{
   color:white;
   font-size: 20px;
}

.p2 a:hover{
   animation: changecolor 1s;
}

.projects1{
    display: flex;
    text-align:center;
    align-items:center;
    justify-content:center;
}

.p3{
    width: 300px;
    text-align: center;
    margin-top: 0%;
    color: white;
}

.p3 h1{
    font-size: 25px;
}

.p3 p{
    padding-top: 10%;
}

.p3 a{
    font-size: 20px;
    color: white;
}

.p3 a:hover{
    animation: 1s changecolor;
}

.goback{
    text-align: center;
    margin-top:10%;
}

.goback a{
    font-size: 30px;
    color: white;
}

.goback a:hover{
    animation: 1s changecolor;
}
